body {
    background: #b9510b; 
   
}


.container {
    min-width:960px;
    min-height:960px;   
    
    
  }
  .cards1{
    display: flex;
  }
  
  .cards2 {
    display: flex;
  }

  .cards3 {
    display: flex;
  }
  
  .container::after {
    content: "";
    background: url(images.jpg/logo.png);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;  
    background-repeat:no-repeat; 
    background-position:center;
  }
  

.navbar {
    background-color: #fa6600;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;  
    position: absolute;
    width: auto;
    height: 50px;
}

.logo {
    width: 120px;
    float: left;
    padding-left: 17px;
}

.buttons {
    float: left;
    padding-top: 16px;
    padding-left:70px;
}

 a {
     text-decoration: none;
     font-size: 18px;
     color: black;
     font-family: 'Trebuchet MS', sans-serif;
     font-weight: bolder;
}

.navin {
  float: none;
  float: right;
  padding-right: 20px;
}

.navin input {

  margin-top: 12px;
  border-radius: 5px;
  border: solid 1.5px #D3D3D3;
  -webkit-transition: 1s; 
  transition: 1s;
  height: 20px;
}

.navin input:hover {
    box-shadow: 0 0 10pt 0.5pt #070101;
}

.navin input:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
    }
    


  .card {
    margin: 20px;
    height: 300px;
    width: 450px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
    opacity: 0.9;
  }
  
  .urunler {
    height: 300px;
  width: 450px;
  object-fit: cover;

  }


  .caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    transition: all 0.4s;

  }

  .card:hover .caption{
    transform: translateY(0%);
    cursor: pointer;
  }
  

.aboutdiv {
  border: 3px solid black;
   -webkit-box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.78); 
box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.78);
background-color: #b9510b;
margin-top: 14%;
border-radius: 25px;
}

 .baslik {
   font-size: 40px;
   padding-right: 10px;
   padding-left: 10px;
 }
 
 .paragraf {
   font-size: 24px;
   font-style: oblique;
   padding-right: 10px;
   padding-left: 10px;
 }

.instalogo {
  width: 100px;
}

.gitlogo {
  width: 100px;
}

.linklogo {
  width: 100px;
}

.contactdiv {
  border: 3px solid black;
  float: left;
  -webkit-box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.78); 
  box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.78);
  background-color: #b9510b;
  margin: 18% 20% 20% 35%;
  border-radius: 25px;
}

.cont {
  float: left;
  margin: 30px;
}